* {
    font-family: arial;
    margin: 0px;
}

body {
    background-color: #0E1628; 
    color: white;
    font-family: Arial, sans-serif;
}

.header-background{
    background-image: url(../img/header-fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 25em;
}

.text-header {
    padding-top: 3em;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
}
.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
}
.social-icons a {
    color: white;
    font-size: 24px;
    margin: 10px;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #1DA1F2;
}
.fa-user {
    margin-right: 5px;
}

.fa-graduation-cap {
    margin-right: 9px;
}

.proyectos {
    margin: auto;
    padding: 50px 20px;
}

.fa-folder-open {
    margin-right: 10px;
}
.fa-briefcase {
    margin-right: 10px;
}